In [1]:
import pandas as pd

In [2]:
dict={'Group':['A','B','C','D','E'],'ID':[101,102,103,104,105]}

In [4]:
frame1=pd.DataFrame(dict)

In [5]:
frame1

  Group   ID
0     A  101
1     B  102
2     C  103
3     D  104
4     E  105

In [10]:
frame1['ID']=frame1['ID'].astype('str')

In [11]:
frame1.dtypes

Group    object
ID       object
dtype: object

In [12]:
frame1['ID']=frame1['ID'].str.zfill(5)

In [13]:
frame1

  Group     ID
0     A  00101
1     B  00102
2     C  00103
3     D  00104
4     E  00105

In [1]:
#Pad leading 0's to a number
x=300

In [2]:
str(x).zfill(5)

'00300'

In [3]:
#Another method
f'{x:07}'

'0000300'